*{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}


img {
    width: 100%;
}

.navbar ul{
    /* border-right: 2px solid black; */
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow: hidden;
    background-color: peru;
}

.navbar li {
    float: left;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 80px; 
}

.navbar .active {
    background-color: black;
    color: white;
}

.navbar a:hover {
    background-color: grey;
    color: pink;
}


#Biography{
    text-align: center;
    margin-top: 60px;
    font-size: 250%;
    font-family: 'Lobster', cursive;
}

.bio-image{
    width: 18%;
    margin: 50px 50px 50px 100px;
    float: left;
}

p{
    font-size: 130%;
    font-family: 'Exo', sans-serif;
    margin: 45px 100px 20px 0px;
    line-height: 1.5;

}